
</main>
<footer>
    <div class="footerContent">
        <p> 2025 Votre Entreprise. Tous droits réservés.</p>
        <a href="politique-de-confidentialite.html">Politique de confidentialité (RGPD)</a>
        <a href="mailto:commercial@votreentreprise.com">Contact commercial</a>

    </div>
</footer>
</div>


</html>