  </main>
            
            <footer>
                <div class="footerContent">
                    <p>&copy; 2025 Votre Entreprise. Tous droits réservés.</p>
                    <a href="../rgpd" class="footerLink">

                        Politique de confidentialité (RGPD)
                    </a>
                        <a href="mailto:roulio-duBonCafé@NicoCoffee.com">Contact commercial</a>
                        
                </div>
            </footer>
        </div>
    </body>
</html>