<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Lien police -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <!-- Feuilles de style -->
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/navToutePage.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/footer.css">

        <title>Boutique - Ocoffee</title>
    </head>
    
    <body>
        <div class="imagedefond">
            <header>
                <nav class="nav">
                    <figure>
                       <div class="logoAccueil">
                            <img class="logo" src="/images/logo.svg" alt="logo entreprise" />
                            NicOcoffee
                        </div>
                    </figure>
                    
                    <ul class="navList">
                        <li class="navItem CouleurTEXTE">
                            <a href="/">accueil</a>
                        </li>
                        <li class="navItem CouleurTEXTE">
                            <a href="/catalogue">catalogue</a>
                        </li>
                        <li class="navItem CouleurTEXTE">
                            <a href="/catalogueTotal" class="actualPage">boutique</a>
                        </li>
                    </ul>
                </nav>
            </header>
            
            <main>