<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  lien police-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" ../integration/css/style.css">
    <link rel="stylesheet" href=" ../integration/css/reset.css">
    <title>erreur404</title>
   
</head>
     <div class="imagedefond">
        <header>
            <nav class="nav">
                <figure>
                    <img class="logo" src="../../docs/demande-client/00.assets/logo.svg" alt="logo entreprise" />
                </figure>
                <ul class="nav-list " >
                    <li class="nav-item CouleurTEXTE "><a href="#"> Retour a accueil</a></li>
                    <!-- <li class="nav-item CouleurTEXTE displayNone" ><a href="#">catalogue</a></li>
                    <li class="nav-item CouleurTEXTE displayNone" ><a href="#">boutique</a></li> -->
                    <li class="nav-item CouleurTEXTE " ><a href="#">catalogue</a></li>
                    <li class="nav-item CouleurTEXTE " ><a href="#">boutique</a></li>
                </ul> 
            </nav>
        </header>

        <main>
            <section></section>
                <div class="message">
                    <h2 > humm ..!!! Erreur 404 :Prenons un café ensemble ! Cliquez sur accueil pour revenir</h2>
                </div>
            </section>
            <figure>
                <div class="grid-container-404">
                    <div class="empty-space"></div> <!-- Colonne gauche vide -->
                    <div class="image-container-404"></div> <!-- Colonne centrale avec image -->
                    <div class="empty-space"></div> <!-- Colonne droite vide -->
                </div>
            <figure>
        </main>

        <footer>
            <div class="footerContent">
                <p> 2025 Votre Entreprise. Tous droits réservés.</p>
                <a href="politique-de-confidentialite.html">Politique de confidentialité (RGPD)</a> 
                <a href="mailto:commercial@votreentreprise.com" class="footer-mail-404">Contact commercial</a>
            </div>
        </footer>
    </div>  
    
 </html>
   
