<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  lien police-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" ../integration/css/style.css">
    <link rel="stylesheet" href=" ../integration/css/reset.css">
    <title>Document</title>
   
   

    </head>
     <div class="imagedefond">
        <header>
            <nav class="nav">
                <figure>
                    <img class="logo" src="../../docs/demande-client/00.assets/logo.svg" alt="logo entreprise" />
                </figure>
                <ul class="nav-list " >
                    <li class="nav-item CouleurTEXTE "><a href="#">accueil</a></li>
                    <li class="nav-item CouleurTEXTE "><a href="#">catalogue</a></li>
                    <li class="nav-item CouleurTEXTE "><a href="#">boutique</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <div class="accueilTitreImage">

            <div class=" tittleTextlink">
                <div class="titreAccueil">
                    <h1 class=" accueil"> Jean et Jacques Pepper : Quand le café devient une célébration de l'art de vivre.</h1>
                </div>
                <article>
                    <div class="accueil-notreAccroche" >
                        <p >Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens.
                            Le personnel attentionné et passionné est toujours prêt à partager ses connaissances et ses recommandations, 
                            "Le café, bien plus qu'une simple boisson, il est un véritable rituel 
                            qui incarne l'art de vivre. Entre moments de partage et instants de 
                            contemplation, chaque tasse devient une invitation à savourer la vie et à en célébrer
                            les nuances.
                            Que vous soyez un connaisseur de café ou un novice curieux, nous sommes là pour vous guider dans un voyage sensoriel inoubliable, où chaque gorgée révèle un monde de saveurs riches et complexes.</p>
                    </div>
                </article>
             
            </div>
             
                <figure>
                    <div class="imageContainer">
                    <img src="../../docs/demande-client/00.assets/coffees/105589090.png"  alt="du café plein les mains" class="imageDroite">
                    </div>
                </figure>
        </div>
        <div class="buttonCatalogue">
            <a href="# lien vers la page  catalogue" class="button ">catalogue</a>
        </div>
        <div class="accueilTitreImage2"> 
            <!-- <a href="# lien vers la page  catalogue" class="button">nouveautés</a> -->
        
                <div class="nouveautés-titre">
                    <h2>nouveautés</h2>
                </div>    
        </div>
        <article>
            <div class=" cards">
                <div class="card">
                
                    <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
                    <a href="#catalogue" class="buttonC">découvrir</a>
                </div>
                <div class="card">
                
                    <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
                    <a href="#catalogue" class="buttonC">découvrir</a>
                </div>
                <div class="card">
                
                    <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
                    <a href="#catalogue" class="buttonC">découvrir</a>
                </div>
            </div>
        </article>

    </main>

        <footer>
        <div class="footerContent">
            <p> 2025 Votre Entreprise. Tous droits réservés.</p>
            <a href="politique-de-confidentialite.html">Politique de confidentialité (RGPD)</a> 
            <a href="mailto:commercial@votreentreprise.com">Contact commercial</a>
         
        </div>
        </footer>
    </div>
    
 </html>
   
