<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  lien police-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" ../integration/css/style.css">
    <link rel="stylesheet" href=" ../integration/css/reset.css">
    <title>Document</title>
   
   

    </head>
     <div class="imagedefond">
        <header>
            <nav class="nav">
            <img class="logo" src="../../docs/demande-client/00.assets/logo.svg" alt="logo entreprise" />
            <ul class="nav-list " >
                <li class="nav-item CouleurTEXTE "><a href="#">accueil</a></li>
                <li class="nav-item CouleurTEXTE "><a href="#">catalogue</a></li>
                <li class="nav-item CouleurTEXTE "><a href="#">boutique</a></li>
            </ul>
            </nav>
        </header>

    <main>
        <div class="grid-container">
            <div class="empty-space"></div>
            <div class="image-container">
              <h1>Notre catalogue</h1> 
            </div>
            <div class="empty-space"></div>
          </div>
      
        

     <div class="catalogueCategorie">
        <div class="gauche">" "</div>
        <div class="centre">" "</div>
        <div class="droiteCategorie">
            <a href="# lien vers la page  catalogue" class="button ">catégorie</a>
        </div>
    </div> 

   
    <div class=" cards">
        <div class="card">
           
            <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
            <a href="#catalogue" class="buttonC">découvrir</a>
        </div>
        <div class="card">
           
            <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
            <a href="#catalogue" class="buttonC">découvrir</a>
        </div>
        <div class="card">
           
            <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café. Explorez nos sélections exclusives et laissez-vous séduire.</p>
            <a href="#catalogue" class="buttonC">découvrir</a>
        </div>
    </div>

    <div class="voirTout">
        <div class="gaucheVoirTout"><a href="# lien vers la page  catalogue" class="button ">Voir Tout</a></div>
        <div class="centre">" "</div>
        <div class="droite">" "</div>
            
        
    </div>
    
       

    </main>

        <footer>
        <div class="footerContent">
            <p> 2025 Votre Entreprise. Tous droits réservés.</p>
            <a href="politique-de-confidentialite.html">Politique de confidentialité (RGPD)</a> 
            <a href="mailto:commercial@votreentreprise.com">Contact commercial</a>
         
        </div>
        </footer>
    </div>
</div> 
    
 </html>
   
