
<%- include('partials/headerCatalogue.ejs') %>
   <figure>
        <div class="grid-container">
            <div class="empty-space"></div>
            <div class="image-container-catalogue">
                <h1>Notre catalogue</h1>
            </div>
            <div class="empty-space"></div>
        </div>
    </figure>


    <div class="catalogueCategorie">
        <div class="gauche">" "</div>
        <div class="centre">" "</div>
        <div class="droiteCategorie">
            <a href="# lien vers la page  catalogue" class="button ">catégorie</a>
        </div>
    </div>

    <article>
        <div class=" cards">
            <div class="card">
              

                <p class="card-text">Chaque tasse  est une invitation à savourer la richesse et les nuances du café.
                    Explorez nos sélections exclusives et laissez-vous séduire.</p>  
                <a href="#catalogue" class="buttonC">découvrir</a>
            </div>
            <div class="card">

                <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café.
                    Explorez nos sélections exclusives et laissez-vous séduire.</p>
                <a href="#catalogue" class="buttonC">découvrir</a>
            </div>
            <div class="card">

                <p class="card-text">Chaque tasse est une invitation à savourer la richesse et les nuances du café.
                    Explorez nos sélections exclusives et laissez-vous séduire.</p>
                <a href="#catalogue" class="buttonC">découvrir</a>
            </div>
        </div>
    </article>

    <div class="voirTout">
        <div class="gaucheVoirTout"><a href="# lien vers la page  catalogue" class="button ">Voir Tout</a></div>
        <div class="centre">" "</div>
        <div class="droite">" "</div>


    </div>
    <%-include('partials/footer.ejs') %>



