<%- include('partials/header.ejs') %>

<section>
    <div class="message">
        <h2>
            Humm...!!! Erreur 404 : Prenons un café ensemble ! Cliquez sur accueil pour revenir
        </h2>
    </div>
</section>

<figure>
    <div class="gridContainer404">
     
       <div class="espacement1ligne"></div> <!-- Colonne vide -->
            <div class="imageContainer404"></div> <!-- Colonne centrale avec image -->
     <div class="espacement1ligne"></div> <!-- Colonne vide -->
    </div>
</figure>

<%- include('partials/footer.ejs') %>