<%- include('partials/header.ejs') %>

<section></section>
<div class="message">
    <h2 > humm ..!!! Erreur 404 :Prenons un café ensemble ! Cliquez sur accueil pour revenir</h2>
</div>
</section>
<figure>
<div class="grid-container-404">
    <div class="empty-space"></div> <!-- Colonne gauche vide -->
    <div class="image-container-404"></div> <!-- Colonne centrale avec image -->
    <div class="empty-space"></div> <!-- Colonne droite vide -->
</div>
<figure>

    <%-include('partials/footer.ejs') %>