
<%- include('partials/headerProduit.ejs') %>

    <div class="grid-container">
        <div class="empty-space"></div>
        <div class="image-container-produit"></div>
        <div class="empty-space"></div>
    </div>


    <div class="grid-container-produit">
        <div class="empty-space"></div>
        <div class="text-zone">

            <P class="text-zone-paddind-right"> puiblié le </P> <time></time></p>
            <h2 class="text-zone-paddind-left"> type de café</h2>
            <p class="text-zone-paddind-left"> bla bla texte du produit</p>
            <a href="# lien vers la page  catalogue" class="button-produit text-zone-paddind">catalogue</a>
        </div>
        <div class="empty-space"></div>
    </div>

    <%-include('partials/footer.ejs') %>


