<%- include('partials/headerProduit.ejs') %>
<div class="container-rgpd">
    <h1>Politique de Confidentialité </h1>
    <section >
        <h2>1. Introduction</h2>
        <p>Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons vos données personnelles conformément au Règlement Général sur la Protection des Données (RGPD).</p>
    </section>
    
    <section class="données">
        <h2>2. Données collectées</h2>
        <p>Nous collectons les données suivantes:</p>
        <!-- <ul> -->
            <li>Informations de contact (nom, email, téléphone)</li>
            <li>Informations de facturation et livraison</li>
            <li>Historique des achats</li>
            <li>Données de navigation sur notre site</li>
        <!-- </ul> -->
    </section>
    
    <section class="utilison">
        <h2>3. Utilisation des données</h2>
        <p>Vos données sont utilisées pour:</p>
        <!-- <ul> -->
            <li>Traiter vos commandes</li>
            <li>Améliorer nos services</li>
            <li>Communiquer avec vous</li>
            <li>Respecter nos obligations légales</li>
        <!-- </ul> -->
    </section>
    
    <section>
        <h2>4. Vos droits</h2>
        <p>Conformément au RGPD, vous avez le droit d'accéder, de rectifier, de supprimer vos données ou de limiter leur traitement.</p>
    </section>
    
    <section>
        <h2>5. Contact</h2>
        <p class="contact-rgpd">Pour toute question concernant vos données personnelles, contactez-nous à: </p>
         <a class="contact-rgpd" href="mailto:rgpd@cabinet-la-bricole.com">rgpd@cabinet-la-bricole.com</a>
         
    </section>
</div>


<%- include('partials/footer.ejs') %>